<form class="z-depth-1">
	<div class="input-field">
		<label for="input_name">Name:</label>
		<input type="text" id="input_name" ng-model="newParty.name">
	</div>
	<div class="input-field">
		<label for="input_desc">Description:</label>
		<input type="text" id="input_desc" ng-model="newParty.description">
	</div>
	<button ng-click="parties.save(newParty); newParty='';" class="btn-floating blue btn-large waves-effect">Add</button>
</form>
<button class="btn red waves-effect waves-light" ng-click="removeAll()">Remove All</button>
<ul>
	<li ng-repeat="party in parties" class="card-panel ">
		<h2>
			<a href="/parties/{{party._id}}" class="black-text">{{party.name}}</a>
		</h2>
		<h5>
			<p class="grey-text">{{party.description}}</p>
		</h5>
		<button class="btn red waves-effect waves-light" ng-click="remove(party)">X</button>
	</li>
</ul>