<div class="card">
	<h2 class="card-content">
		<span class="card-title black-text">Party Details</span>
	</h2>
	<div class="secondary-content card-content">Owner: {{owner | displayName}}</div>
	<div class="input-field card-content">
		<label for="input_name">Name:</label>
		<input ng-disabled="{{!isOwner}}" id="input_name" type="text" ng-model="party.name">
	</div>
	<div class="input-field card-content">
		<label for="input_desc">Description:</label>
		<input ng-disabled="{{!isOwner}}" id="input_desc" type="text" ng-model="party.description">
	</div>
	<div class="switch">
		<label>Private
			<input ng-disabled="{{!isOwner}}" type="checkbox" ng-model="party.public">
			<span class="lever"></span>Public</label>
	</div>
	<button ng-click="save()" ng-disabled="{{!isOwner}}" class="btn blue waves-effect">Save</button>
	<button ng-click="clear()" ng-disabled="{{!isOwner}}" class="btn yellow waves-effect">Clear</button>
	<button ng-click="reset()" ng-disabled="{{!isOwner}}" class="btn red waves-effect">Reset</button>
	<a href="/parties" class="btn green right waves-effect">Back</a>
</div>
<button href="#" ng-disabled="{{!isOwner}}" class="dropdown-button btn teal" data-activates="dropdown_user" m-dropdown>Invite Users</button>
<ul ng-disabled="{{!isOwner}}" id="dropdown_user" class="dropdown-content">
	<li ng-repeat="user in users | uninvited:party">
		<div ng-class="['btn','small','teal','lighten-2']" style="width: 100%" ng-click="invite(user)">{{user | displayName}}</div>
	</li>
	<li>
		<div ng-class="['btn','small','grey']" ng-if="invitedUsers.length==users.length-1" style="width: 100%">Everyone is Invited</div>
	</li>
</ul>
<ul class="collection with-header" ng-if="!party.public">
	<li class="collection-header">
		<h5>Owner</h5>
	</li>
	<li class="collection-item">{{owner | displayName}}</li>
	<li class="collection-header">
		<h5>Invited Users</h5>
	</li>
	<li class="collection-item" ng-show="invitedUsers.length==0">No one is invited</li>
	<li class="collection-item" ng-repeat="user in invitedUsers">{{user | displayName}}
		<button ng-disabled="{{!isOwner}}" class="btn small red waves-effect secondary-content" ng-click="invite(user,false)">X</button>
	</li>
</ul>