<div class="card">
	<h2 class="card-content">
		<span class="card-title black-text">Party Details</span>
	</h2>
	<div class="input-field card-content">
		<label for="input_desc">Name:</label>
		<input type="text" ng-model="party.name">
	</div>
	<div class="input-field card-content">
		<label for="input_desc">Name:</label>
		<input type="text" ng-model="party.description">
	</div>
	<button ng-click="save()" class="btn blue waves-effect">Save</button>
	<button ng-click="clear()" class="btn yellow waves-effect">Clear</button>
	<button ng-click="reset()" class="btn red waves-effect">Reset</button>
	<a href="/parties" class="btn green right waves-effect">Back</a>
</div>